<center><h2>Day shift for waiters </h2>

<div class="container-fluid">
    <div class="w3-row-padding">
        <form class="table" action="admin" method="get">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <ul>
                            <td class="{{color1}}">
                                {{#each day1}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </td>
                            <td class="{{color2}}">
                                {{#each day2}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </td>
                            <td class="{{color3}}">
                                {{#each day3}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </td>

                            <td class="{{color4}}">
                                {{#each day4}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </td>

                            <td class="{{color5}}">
                                {{#each day5}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </td>

                            <td class="{{color6}}">
                                {{#each day6}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </td>

                            <td class="{{color7}}">
                                {{#each day7}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </td>
                        </ul>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <form class="" action="/reset" method="post">
        <center> <button type="submit" name="button" class="">Reset waiter</button></center>
    </form>
</div>
</center>
